<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Spines.Tests.Rules" Description="Code analysis rules for tests." ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1305" Action="None" />
  </Rules>
</RuleSet>