@model Spines.Hana.Blame.Models.AdminViewModels.IndexViewModel

<div>
    <p>Users:</p>
    <p>@Model.UserCount</p>
    @foreach (var userName in Model.UserNames)
    {
        <p>@userName</p>
    }
    <p>Threads:</p>
    <p>@Model.ThreadCount</p>
    <p>Comments:</p>
    <p>@Model.CommentCount</p>
</div>