body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

.preview-bar {
    background-color: #ff8c00;
    height: 40px;
    text-align: center;
    font-weight: bold;
}

.center-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.thread-border {
    background-color: #d3d3d3;
    overflow: auto;
    padding: 10px;
    border-style: solid;
    border-color: #808080;
    border-width: 1px;
}

.comment-border {
    background-color: #ffffff;
    overflow: auto;
    border-style: solid;
    border-color: #808080;
    border-width: 1px;
    margin-top: 10px;
}

.comment-header {
    background-color: #a9a9a9;
    overflow: auto;
    border-style: solid;
    border-color: #808080;
    border-width: 0 0 1px 0;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.comment-header:after {
    clear: both;
}

.comment-user {
    float: left;
    margin: 0;
}

.comment-time {
    float: right;
    margin: 0;
}

.comment-message {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0;
}

.post-comment-textarea {
    min-width: 100%;
    margin-bottom: 10px;
}

.replay-container {
    position: relative;
}

.frame-input {
    width: 80px;
}

.frame-input-column {
    float: left;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 15px;
}

.frame-input-row:after {
    content: "";
    display: table;
    clear: both;
}

.write-comment-div {
    padding-top: 20px
}

.browse-player-input {
    margin-left: 6px;
}

.browse-result-div {
    width: 100%;
    padding-top: 6px;
}

.browse-result {
    width: 100%;
    background-color: #ffffff;
    overflow: auto;
    border-style: solid;
    border-color: #808080;
    border-width: 1px;
    padding: 0;
}

.browse-result-header {
    width: 100%;
    text-align: left;
    background-color: #a9a9a9;
    overflow: auto;
    border-style: solid;
    border-color: #808080;
    border-width: 0 0 1px 0;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.browse-result-body {
    width: 100%;
    text-align: left;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.snitch-replayid-input {
    max-width: 70%;
    width: 70%;
}

.snitch-error {
    color: #ff0000;
    margin-left: 6px;
    margin-top: 6px;
}

.content {
}

#playerInfo0, #playerInfo1, #playerInfo2, #playerInfo3 {
    position: absolute;
    z-index: 1;
    color: white;
    white-space: pre;
}

#playerInfo0 {
    top: 320px;
    left: 490px;
}

#playerInfo1 {
    top: 110px;
    left: 480px;
}

#playerInfo2 {
    top: 110px;
    left: 230px;
}

#playerInfo3 {
    top: 320px;
    left: 200px;
}