<h2>Browse Games</h2>

<div>
    Player<input type="text" id="browseSearchText" class="browse-player-input"/>
    <input type="button" value="Submit" onclick="getReplays()" />
</div>
<div id="browseResultsDiv"></div>