<h2>Browse Games</h2>

<div>
    <input type="text" id="browseSearchText"/>
    <input type="button" value="Submit" id="commentButton" onclick="getReplays()" />
</div>
<div id="browseResultsDiv"></div>