<h3>Playing on tenhou.net</h3>
<p>
    Hana Blame supports 4-player games played on <a target="_blank" href="http://tenhou.net/">tenhou.net</a>.
    For instructions on how to play there, please consult the <a target="_blank" href="https://mahjong.guide/mahjong-mega-guide/">Mahjong Mega Guide</a>.
</p>
