@model System.Collections.Generic.List<Spines.Hana.Blame.Models.ThreadViewModels.CommentViewModel>

@foreach (var comment in Model)
{
    <div class="comment-border">
        <div class="comment-header">
            <label>@comment.UserName</label>
        </div>
        <p>@comment.Message</p>
    </div>
}
