@model System.Collections.Generic.List<Spines.Hana.Blame.Models.ThreadViewModels.CommentViewModel>

@foreach (var comment in Model)
{
    <div class="comment-border">
        <p>@comment.Message</p>
    </div>
}
