<div id="BrowseContent" class="content">
    @await Html.PartialAsync("_BrowsePartial")
</div>
<div id="BlameContent" class="content">
    @await Html.PartialAsync("_BlamePartial")
</div>
<div id="PlayContent" class="content">
    @await Html.PartialAsync("_PlayPartial")
</div>
<div id="SnitchContent" class="content">
    @await Html.PartialAsync("_SnitchPartial", ViewData["SnitchUrl"])
</div>

@section MenuItems
{
    <li onclick="showBrowse();" style="cursor: pointer;">
        <a>Browse</a>
    </li>
    <li onclick="showBlame();" style="cursor: pointer;">
        <a>Blame</a>
    </li>
    <li onclick="showPlay();" style="cursor: pointer;">
        <a>Play</a>
    </li>
    <li onclick="showSnitch();" style="cursor: pointer;">
        <a>Snitch</a>
    </li>
}

@section Scripts
{
    <script>
        $(init);

        function init() {
            initThreeJS();
            const url = '@ViewData["StorageUrl"]';
            initReplay(url);

            showContent("BlameContent");
        }

        function showContent(id) {
            const contents = document.getElementsByClassName("content");
            const count = contents.length;
            for (let i = 0; i < count; i++) {
                const content = contents[i];
                content.hidden = content.id !== id;
            }
        }

        function showBrowse() {
            showContent("BrowseContent");
        }

        function showBlame() {
            showContent("BlameContent");
        }

        function showPlay() {
            showContent("PlayContent");
        }

        function showSnitch() {
            showContent("SnitchContent");
        }
    </script>
}