@{
    ViewData["Title"] = "WWYD";
}

<div>
    <input id="gameId" type="number" onchange="showFrame()" />
    <input id="frameId" type="number" onchange="showFrame()"/>
    <input id="gameDataJson" type="hidden" value="@(ViewData["GameDataJson"])"/>
</div>
<div>
    <canvas id="replayCanvas" width="600" height="600"></canvas>
</div>


<input id="handInput" type="text" onchange="changeUrl(this.value)" value="@(ViewData["Hand"])" />

<div>
    <canvas id="wwydCanvas" width="600" height="100"></canvas>
</div>

<div class="row" id="threadDiv"></div>

@section Scripts
{
    <script>
        $(initThreeJS);
        $(initWwyd);
        $(initReplay);
    </script>
}