@{
    ViewData["Title"] = "WWYD";
}

<input id="handInput" type="text" onchange="changeUrl(this.value)" value="@(ViewData["Hand"])" />

<div>
    <canvas id="wwydCanvas" width="600" height="100"></canvas>
</div>

@section Scripts
{
    <script>
        $(initWwyd);
    </script>
}
