@{
    ViewData["Title"] = "a random replay";
}

<div>
    <select id="replayId" onchange="onReplayIdChanged(this.value)">
        <option value="2017043022gm-0089-0000-c47632a3" selected="selected">A</option>
        <option value="2017042905gm-0009-7447-0f7d7d36">B</option>
        <option value="2017042917gm-0089-0000-62dfb255">C</option>
    </select>
    <input id="gameId" type="number" onchange="onFrameChanged()"/>
    <input id="frameId" type="number" onchange="onFrameChanged()"/>
    <input id="playerId" type="number" onchange="onFrameChanged()"/>
</div>
<div class="replayContainer">
    <canvas id="replayCanvas" width="800" height="600"></canvas>
    <div id="playerInfo0"></div>
    <div id="playerInfo1"></div>
    <div id="playerInfo2"></div>
    <div id="playerInfo3"></div>
</div>

@section Scripts
{
    <script>
        $(initThreeJS);
        $(initReplay);
    </script>
}