@using Microsoft.AspNetCore.Mvc.Rendering
<div class="content" data-content="browse">
    @await Html.PartialAsync("_BrowsePartial")
</div>
<div class="content" data-content="blame" id="blameDiv">
    @await Html.PartialAsync("_BlamePartial")
</div>
<div class="content" data-content="play">
    @await Html.PartialAsync("_PlayPartial")
</div>
<div class="content" data-content="snitch">
    @await Html.PartialAsync("_SnitchPartial", ViewData["SnitchUrl"])
</div>

@section MenuItems
{
    <li class="nav-item active" onclick="navigateTo(this.dataset.content);" data-content="browse">
        <a href="javascript:;" class="nav-link">Browse</a>
    </li>
    <li class="nav-item active" onclick="navigateTo(this.dataset.content);" data-content="blame">
        <a href="javascript:;" class="nav-link">Blame</a>
    </li>
    <li class="nav-item active" onclick="navigateTo(this.dataset.content);" data-content="play">
        <a href="javascript:;" class="nav-link">Play</a>
    </li>
    <li class="nav-item active" onclick="navigateTo(this.dataset.content);" data-content="snitch">
        <a href="javascript:;" class="nav-link">Snitch</a>
    </li>
}

@section Scripts
{
    <script>
        $(init);
        function init() {
            window.onpopstate = onPopstate;
            initThreeJS();
            initReplay('@ViewData["StorageUrl"]');
            loadReplayAndThread();
            initNavigaion();
        }
    </script>
}