@using Microsoft.AspNetCore.Mvc.Rendering
<div class="content" data-content="browse">
    @await Html.PartialAsync("_BrowsePartial")
</div>
<div class="content" data-content="blame">
    @await Html.PartialAsync("_BlamePartial")
</div>
<div class="content" data-content="play">
    @await Html.PartialAsync("_PlayPartial")
</div>
<div class="content" data-content="snitch">
    @await Html.PartialAsync("_SnitchPartial", ViewData["SnitchUrl"])
</div>

@section MenuItems
{
    <li onclick="navigateTo(this.dataset.content);" data-content="browse">
        <a href="javascript:;">Browse</a>
    </li>
    <li onclick="navigateTo(this.dataset.content);" data-content="blame">
        <a href="javascript:;">Blame</a>
    </li>
    <li onclick="navigateTo(this.dataset.content);" data-content="play">
        <a href="javascript:;">Play</a>
    </li>
    <li onclick="navigateTo(this.dataset.content);" data-content="snitch">
        <a href="javascript:;">Snitch</a>
    </li>
}

@section Scripts
{
    <script>
        $(init);
        function init() {
            window.onpopstate = onPopstate;
            initThreeJS();
            initReplay('@ViewData["StorageUrl"]');
            loadReplayAndThread();
            initView();
        }
    </script>
}