<div class="content" data-content="browse">
    @await Html.PartialAsync("_BrowsePartial")
</div>
<div class="content" data-content="blame">
    @await Html.PartialAsync("_BlamePartial")
</div>
<div class="content" data-content="play">
    @await Html.PartialAsync("_PlayPartial")
</div>
<div class="content" data-content="snitch">
    @await Html.PartialAsync("_SnitchPartial", ViewData["SnitchUrl"])
</div>

@section MenuItems
{
    <li onclick="changeView(this);" data-content="browse">
        <a href="#">Browse</a>
    </li>
    <li onclick="changeView(this);" data-content="blame">
        <a href="#">Blame</a>
    </li>
    <li onclick="changeView(this);" data-content="play">
        <a href="#">Play</a>
    </li>
    <li onclick="changeView(this);" data-content="snitch">
        <a href="#">Snitch</a>
    </li>
}

@section Scripts
{
    <script>
        $(init);

        function init() {
            initThreeJS();
            const url = '@ViewData["StorageUrl"]';
            initReplay(url);

            changeView();
        }

        function changeView(li) {
            const c = (li && li.dataset.content) || "blame";
            const contents = document.getElementsByClassName("content");
            const count = contents.length;
            for (let i = 0; i < count; i++) {
                const content = contents[i];
                content.hidden = content.dataset.content !== c;
            }
        }
    </script>
}