@{
    ViewData["Title"] = "WWYD";
}

<input id="handInput" type="text" onchange="changeUrl(this.value)" value="@(ViewData["Hand"])" />

<div>
    <canvas id="wwydCanvas" width="600" height="100"></canvas>
</div>

<div class="row" id="threadDiv"></div>

@section Scripts
{
    <script>
        $.get("home/GetThread", function(data) {
            $("#threadDiv").html(data);
        });
    </script>

    <script>
        $(initWwyd);

        @*$("handInput").click(function() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("blub", "wtf")',
                data: mdlno,
                success: function(data) {
                    $("#thread").html(data);
                }
            });
            return false;
        });*@
    </script>
}