
@{
    ViewData["Title"] = "WWYD";
}

<h2>WWYD</h2>

<input type="text" onchange="changeUrl(this.value)" value="@(ViewData["Hand"])" />

<div id="container"></div>

@section Scripts
{
    <script>
        $(initWwyd);
    </script>
}
